@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background-image: url('./1289452.jpg');
    background-repeat: no-repeat;
}

img#logo-header {
    width: 150px;
    height: auto;
}

.container {
    display: flex;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    position: absolute;
    transform: translate(-50% -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7) ;
}

.slide {
  display: flex;
  width: 100vw;
  height: 100vh;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img {
  widht: 100vw;
  height:100vh;
  justify-content: center;
  
}

nav {
    width: 60%;
}
  
a {
  color: #fff;
  font-size: 18px;
}

a:hover{
    color: #ccff54;
    transition: .1s;
  
}

.navigation-bar{
  position: absolute;
  botton: 20px;
  left: 50%;
  transform: translate(-50%);

img#logo-footer {
    width: 150px;
    height: auto;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
li {
    display: flex;
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "kdam Thmor Pro", sans-serif;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
span {
    color: black;
    font-family: "kdam Thmor Pro", sans-serif;
    font-size: 12px;
   
}
  
.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer-navigation {
    display: none;
}

@media (max-width: 768px) {
  
  .container{
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    position: absolute;
    transform: translate(-50% -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7) ;

    .footer-navigation {
       display: block;
       flex-direction: column;
       line-height: 30px;
    } 
    
    nav {
        display: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        
    }

    a {
        color: #070707;
        font-size: 18px;
    }
      
      a:hover{
          color: #ccff54;
          transition: .1s;
        
    }

    .container {
        position: relative;
        width: 80%;
      height:40vh;
      transform: translate(-50%)
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7) ;
    
    }
}  
